.gmu-heading {
    color:  #006633;
    margin-left: 20px;
    border: 5px solid  #006633;
    border-style: solid;
    box-shadow: 5px 10px 8px #3a3361;
    background-color: #FFCC33;
}
.img-height {
    height: 100px;
    padding: 0 0 10px 10px;
}
.a-tag { text-decoration: underline; color: blue; }
.survey-p {
    background-color:  #FFCC33;
    color: #006633;
}
.h1 {
    color: #006633; /* GMU Green */
}