<div class="container mt-5">
    <div class="header-box">
        <h1>CS Department Survey</h1>
        <div id="greeting" class="mt-3 mb-3"></div>
    </div>
    <br>
    <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName">First Name:</label><span class="required">*</span>
            <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName" required placeholder="e.g., John" required>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label><span class="required">*</span>
            <input type="text" class="form-control" id="lastName" name="lastName" formControlName="lastName" required placeholder="e.g., Doe" required>
        </div>
        <div class="form-group">
            <label for="streetAddress">Street Address:</label>
            <input type="text" class="form-control" id="streetAddress" name="streetAddress" formControlName="streetAddress" placeholder="e.g., 123 Main St" required>
        </div>
        <div class="form-group">
            <label for="city">City:</label>
            <input type="text" class="form-control" id="city" name="city" formControlName="city"  placeholder="e.g., Anytown" required>
        </div>
        <div class="form-group">
            <label for="state">State:</label>
            <input type="text" class="form-control" id="state" name="state" formControlName="state" placeholder="e.g., CA" required>
        </div>
        <div class="form-group">
            <label for="zip">Zip:</label>
            <input type="text" class="form-control" id="zip" name="zip" formControlName="zip" placeholder="e.g., 12345" required>
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone Number:</label>
            <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber" placeholder="e.g., 555-1234" pattern="[0-9]{3}-[0-9]{4}" title="Please enter a valid telephone number in the format XXX-XXXX" required>
        </div>
        <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="email" class="form-control" id="email" name="email" formControlName="email" placeholder="john.doe@example.com">
        </div>
        <div class="form-group">
            <label for="dateOfSurvey">Date of Survey:</label>
            <input type="date" id="dateOfSurvey" name="dateOfSurvey" formControlName="dateOfSurvey" required>
        </div>

        <div class="form-group">
            <label for="likedFeatures">What did you like most about the campus?</label>
            <div class="form-check" *ngFor="let feature of likedFeaturesOptions">
                <input type="checkbox" class="form-check-input" [id]="'likes-' + feature" name="likedFeatures" (change)="onCheckChange($event, 'likedFeatures')" [value]="feature" ngModal required>
                <label class="form-check-label" [for]="'likes-' + feature">{{ feature }}</label><br>
            </div>
        </div>

        <div class="form-group">
            <label>How did you become interested in the university?</label>
            <div class="form-check" *ngFor="let source of interestedSourcesOptions; let i = index">
                <input type="checkbox" class="form-check-input" [id]="'interest-' + source" name="interestedSources" (change)="onCheckChange($event, 'interestedSources')" [value]="source" ngModal required>
                <label class="form-check-label" [for]="'interest-' + source">{{ source }}</label><br>
            </div>
        </div>

        <div class="form-group">
            <label for="likelihoodRecommendation">Likelihood of Recommending:</label>
            <select class="form-control" id="likelihoodRecommendation" name="likelihoodRecommendation" formControlName="likelihoodRecommendation" required>
                <option value="Very Likely">Very Likely</option>
                <option value="Likely">Likely</option>
                <option value="Unlikely">Unlikely</option>
            </select>
        </div>

        <div class="form-group">
            <label for="additionalComments">Additional Comments:</label>
            <textarea class="form-control" id="additionalComments" name="additionalComments" formControlName="additionalComments" rows="4"></textarea>
        </div>

        <button type="submit" class="btn btn-primary button">Submit</button>
        <button type="reset" class="btn btn-secondary ml-2">Reset</button>
        <br><br>
        <div id="message">
            <div *ngIf="showErrorMessage" class="alert alert-danger">
                Error while submitting the form. Make sure you've filled all fields correctly
            </div>
            <div *ngIf="showSuccessMessage" class="alert alert-success">
                Survey submitted successfully!
            </div>    
        </div>        
        <br><br>
    </form>
</div>
